.regis-button{
    height: 50px;
    border-radius: 1rem;
    width: 250px;
    background-color:black;
    flex-direction: row;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-right:150px;
    margin-top:50px;
    border: none;
}
.regis-button p{
    color:white;
    font-size: 15px;
}
.regis-button i{
    color:white;
    margin-left:40px;
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}